:root {
    --dark-color: #181818;
    --background-color: rgb(246, 246, 235);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.card-number,
.stat-icon,
.stat-value {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Kartenanordnung für mobile Ansicht */
#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: 3rem;
}

.card-wrapper {
    background-color: var(--dark-color);
    padding: .8rem;
    border-radius: 0.7rem;
    width: 90%; /* Karten nehmen die gesamte Breite des Bildschirms ein */
    max-width: 300px;
    
}



.card-content {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: var(--background-color);
    border-radius: .7rem;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

.card-number {
    background-color: green;
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
}

.card-title {
    grid-column: span 3;
    text-transform: uppercase;
    padding-left: .5rem;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.2rem;
}

.card-image {
    object-position: 50%.5%;
    grid-column: span 4;
    grid-row: span 5;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-trivia {
    grid-column: span 4;
    font-size: .8rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-style: italic;
    background-color: green;
    padding: 0 0.5rem;
    border-top: 1px solid var(--dark-color);
    border-bottom: 1px solid var(--dark-color);
}

.stat-icon {
    background-color: burlywood;
}

.stat-icon img {
    max-width: 50%;
    max-height: 50%;
}
/* Vorschaubereich */
.preview-section {
    padding: 1rem;
    margin-top: 2rem;
    text-align: center; /* Zentriert Titel und Inhalt */
}

/* Titel */
.section-title {
    margin-left: 0; /* Entfernt linken Rand für mobile Ansicht */
    font-size: 1.2rem; /* Kleinere Schriftgröße */
}

/* Container für Bild und Text */
.preview-container {
    display: flex;
    flex-direction: column; /* Elemente untereinander */
    align-items: center; /* Zentriert die Elemente */
}

/* Vorschau-Bild */
.preview-image {
    max-width: 80%; /* Vergrößert das Bild für mobile Ansicht */
    margin-bottom: 1rem;
}

/* Text und Button */
.preview-text {
    flex-direction: column; /* Text und Pfeil untereinander */
    align-items: center; /* Zentriert Text und Pfeil */
}

#wildtier-text {
    margin: 0;
    margin-bottom: 0.5rem; /* Abstand zum Pfeil */
}

#wildtier-btn {
    font-size: 1.2rem;
}
